<style>
	/* all h2 elements */
h2 {
  color: black;
  text-align: center;
}
/* all p elements */
p {
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  opacity: .6;
  
}
/* all h3 elements */
h3 {
  font-size: 24px;
  font-weight: bold;
  background-color: gray;
  opacity: .7;
  Text-align: center;
}
/* all p AND h1 elements */
p, h1 {
  color: black;
  text-align: center;
}
</style>
